

.cardProduct{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    min-height: 400px;
    max-height: 400px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    &-info{
        flex-grow: 1;
        margin-top: 10px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    &:hover{
        box-shadow: 7px 7px 5px 0px var(--shadow-input-focus);
    }
    &-change{
        &:hover{
            background: url(../../assets/img/icons/change_light.svg) ,var(--blue) ;
            background-size: 70% ;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        background:url(../../assets/img/icons/change_dark.svg), #D9D9D9;
    }
    &-delete{
        &:hover{
            background: url(../../assets/img/icons/delete_light.svg), var(--blue) ;
            background-size: 70% ;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        background:url(../../assets/img/icons/delete_dark.svg), #D9D9D9;
    }
    &-controllButtonts{
        position: absolute;
        right: -100px;
        top: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        transition: 0.3s;
        .control-btn{
            border-radius: 24px;
            box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.25);
            width: 32px;
            height: 32px;
            background-size: 70% ;
            background-position: center;
            background-repeat: no-repeat;
            &:hover{
                cursor: pointer;
            }
        }

    }
    &-img{
        width: 100%;
        height: 200px;
        min-height: 200px;
        img{
            border-radius: 12px;
            border: 1px solid var(--buttonUI-disabled);
            width: 100%;
            height: 100%;
        }
    }
    &-title{
        width: 100%;
        padding: 0px 10px;
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
    }
    &-description{
        width: 100%;
        padding: 0px 10px;
        span{
            color: #000;
            font-size: 15px;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
        }
    }
    &-price{
        width: 100%;
        padding: 0px 10px;
        margin-top: auto;
        margin-bottom: 10px;
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
    }
    &:hover .cardProduct-controllButtonts{
        z-index: 14;
        right: 10px;
    }

}