.button-remPr{
    width: 100%;
    padding: 10px 0px;
    max-width: 318px;
    border-radius: 3px;
    border: 1px solid var(--red);
    background: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    &_text{
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &:hover{
        border: 1px solid transparent;
        background: var(--red-hover);
        cursor: pointer;
    }
}