.button-UI_addPr{
    width: 100%;
    padding: 10px 0px;
    max-width: 318px;
    border-radius: 3px;
    border: 1px solid #406FE9;
    background: #406FE9;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-UI_text{
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &:hover{
        border: 1px solid transparent;
        background: rgba(64, 111, 233, 0.85);
        cursor: pointer;
    }
}