@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
  --background-wrapper: #E9E9E9;
  --buttonUI-disabled: #C6BDBD;
  --shadow-input-focus: #406fe940;
  --blue: #406FE9;
  --blue-hover: #406fe9d9;
  --red: #F23C3C;
  --red-hover: #f23c3cd9;
  

}

html, body, #root, .wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper{
  display: flex;
  background: var(--background-wrapper);
  &::-webkit-scrollbar{
    position: absolute;
    width: 0px;
    height: 0px;
  }
}

*{
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
  box-sizing: border-box;
  position: relative;
}

.button-UI__disabled{
  width: 100%;
  padding: 10px 0px;
  max-width: 318px;
  display: flex;
  border-radius: 3px;
  border: 1px solid var(--buttonUI-disabled);
  background: var(--buttonUI-disabled);
  align-items: center;
  justify-content: center;
  .button-UI_text{
      color: #FFF;
      text-align: center;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  &:hover{
    cursor: default;
  }
}